<ion-view view-title="Browse">
  <ion-content class="padding" noScroll scroll="false">
    
    <div class="row">
      <div class="col swipe-deck">
        <swipe-cards>
          <swipe-card ng-repeat="card in cards" 
            on-destroy="cardDestroyed($index)" 
            on-card-swipe="cardSwiped($index)"
            class="swipe-card">
            <div class="card-wrapper" ng-controller="CardCtrl">
              <div class="title">
                {{card.title}}
              </div>
              <div class="image">
                <img ng-src="{{card.image}}">
              </div>
            </div>
          </swipe-card>
        </swipe-cards>
      </div>
    </div>

  </ion-content>
</ion-view>
