<ion-view view-title="Browse">
  <ion-content noScroll scroll="false">
    
    <div class="row">
      <div class="col swipe-deck">
        <swipe-cards>
          <swipe-card ng-repeat="card in cards" 
            on-destroy="cardDestroyed($index)" 
            on-card-swipe="cardSwiped($index)"
            class="swipe-card">
            <div class="card-wrapper" ng-controller="CardCtrl">            
              
              <div class="list card">
                
                <div class="item item-avatar">
                  <img ng-src="{{card.image}}">
                  <h2>{{card.title}}</h2>
                  <p>{{card.price}}</p>
                </div>
                
                <div class="item item-image">
                  <img ng-src="{{card.image_url}}">
                </div>
            
                <a class="item item-icon-left assertive" href="#">
                  <i class="icon ion-music-note"></i>
                  See On Amazon.com
                </a>
              </div>
              
            </div>
          </swipe-card>
        </swipe-cards>
      </div>
    </div>

  </ion-content>
</ion-view>
