<ion-view view-title="Favorites">
  <ion-content>
    <div ng-class="{hidden: spinner, row: true, center: true}">
      <img class="spinner" ng-src="assets/img/spinner.gif"></img>
    </div>

    <ion-list ng-class="{hidden: !spinner}">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/items/{{item.id}}">
        <img ng-src="{{item.face}}">
        <h2>{{item.title}}</h2>
        <p>{{item.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
