.swipe-card {
  position: absolute;
  
  width: 100%
}

.swipe-deck {
  position: relative; 
}

.card-wrapper {
  transition: opacity 0.5s;
  background-color:white;
  border: 1px solid black;
}

.pop-in .card-wrapper {
  opacity: 0;
}