a {
  color: blue;
  height: 25px; }

.box {
  height: 99%;
  width: 99%;
  background-color: blue; }

.list.card {
  position: absolute;
  -webkit-transform-style: flat; }

.list.card:nth-child(1) {
  z-index: 100; }

.list.card:nth-child(2) {
  opacity: 0.1;
  margin-top: 10px;
  z-index: 90; }

.list.card:nth-child(3) {
  margin-top: 20px;
  opacity: 0.1;
  z-index: 80; }

.list.card:nth-child(4) {
  margin-top: 30px;
  opacity: 0.1;
  z-index: 70; }
