.swipe-card {
  position: absolute;
  width: 100%
}

.swipe-deck {
  position: relative;
}

.card-wrapper {
  transition: opacity 0.5s;
  background-color:white;
}

.pop-in .card-wrapper {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.spinner {
  height: 50%;
  width: 50%;
}

.center{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
